@import '../../variables.scss';

#steambannercontainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 310px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2vh;
    background-color: $darkbg;

    #steambannerleft{
        width: 45%;
        height: 75%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        z-index: 1;
        padding-left:20px;
    
        h2{
            color: $lightbg;
            font-family: Formula;
            font-size: 30pt;

            b{
                color:$playyellow;
            }
        }
        #steambutton{
            display: flex;
            align-items: center;
            justify-content: space-around;
            width: 220px;
            height:65px;
            background-color: $lightgrey;
            border-radius: 7px;
            color:$lightbg;
            text-decoration: none;
            font-family: formula;
            font-size: 26pt;
            text-shadow: 0px 4px 5px rgba(27, 27, 27, 0.5);
            box-shadow: $lightshadow;

            &:hover{
                filter: brightness(130%);
                box-shadow: 0px 0px 12px #f39e0b8a;
                transition: ease-in-out 150ms;
            }

            #steamlogo{
                background: url(../../assets/steam.svg);
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                height: 45px;
                width: 45px;
            }
        }
    }

    #steambannerright{
        width: 55%;
        height: 100%;
        background-image: url(../../assets/steambannerbg.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
}

