@import '../../variables.scss';

#steambannercontainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 310px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2vh;
    background-color: $darkbg;

    #steambannerleft{
        width: 45%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        z-index: 1;
    
        h2{
            color: $lightbg;
            font-family: Formula;
            font-size: 30pt;

            b{
                color:$playyellow;
            }
        }
    }

    #steambannerright{
        width: 55%;
        height: 100%;
        background-image: url(../../assets/steambannerbg.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
}

