<div id="slitbannercontainers">
    <div data-aos="fade-right" data-aos-anchor-placement="center-bottom" class="slitbanner">
        <div class="slitbannerimage top"></div>
        <div class="slittextcontainer toptext">
            <h2>RACE WITH YOUR FRIENDS</h2>
            <h4>COMPETE AGAINST THE <b>BEST.</b></h4>
            <h3>Plan and create your own racing car to compete against your friends in epic races, seeing who can
                outbuild one another!</h3>
            <app-playbutton></app-playbutton>
        </div>
    </div>
    <div  data-aos="fade-left" data-aos-anchor-placement="center-bottom" class="slitbanner">
        <div class="slittextcontainer bottext">
            <h2>PLAN YOUR VEHICLE LAYOUT</h2>
            <h4>COMPETE AGAINST THE <b>BEST.</b></h4>
            <h3>Plan and create your own racing car to compete against your friends in epic races, seeing who can
                outbuild one another!</h3>
            <app-playbutton></app-playbutton>
        </div>
        <div class="slitbannerimage bot"></div>
    </div>
</div>
