@import '../../variables.scss';

#slitbannercontainers{
    margin-top: 7vh;

    .slitbanner{
        display: flex;
        justify-content: space-between;
        align-items: center;

        .slittextcontainer{
            width: 30%;
            height:100%;
            padding:40px;

            h2{
                color: $darkbg;
                font-family: Formula;
                font-size: 30pt;
            }

            .textcontentdesk{
                h3{
                color: $darkbg;
                font-family: InterRegular;
                font-weight: 200;
                font-size: 14pt;
                margin-top: 10px;
                margin-bottom: 35px;
                }
            }
            
            h4{
                font-family: Formula;
                font-size:12pt;
                font-weight: 100;
                color: $darkbg;

                b{
                    color:$playyellow;
                }
            }
        }

        .toptext{
            text-align: right;
        }

        .bottext{
            text-align: left;
        }

        .slitbannerimage{
            width: 60%;
            height: 350px;
            background-size: cover;
            background-repeat: no-repeat;
        }

        .top{
            background-image: url(../../assets/slit1.png);
            background-position: right;
        }

        .bot{
            background-image: url(../../assets/slit2.png);
        }
    }
    .textcontentmob{
        display:none;
        margin-top: 2vh;
        h3{
            color: $darkbg;
            font-family: InterRegular;
            font-weight: 200;
            font-size: 14pt;
            margin-top: 10px;
            margin-bottom: 35px;
            text-align: center;
            padding: 0 20px 0 20px;
        }
    }
    .playbutmob{
        display: none;
        align-items: center;
        justify-content: center;
        margin-bottom: 2vh;
    }

}

@media (max-width: 1200px){
    
    #slitbannercontainers{
        margin-top: 0;
        .slitbanner{
            .slittextcontainer{
                width: 50%;
                padding:7px;

                h2{
                    font-size: 26pt;
                }
                .textcontentdesk{
                    display: none;
                }
                .playbutdesk{
                    display:none;
                }
            }
            .slitbannerimage{
                width: 50%;
                height: 250px;
            }
            .bot{
                margin-top: 2vh;
            }
        }
        .textcontentmob{
            display: block;
        }
        .playbutmob{
            display: flex;
        }
    }
}