@import '../variables.scss';

.flagbg{
    position: absolute;
    width:100%;
    height:100vh;
    background-image: url(../assets/flaga.png);
    background-size: cover;
    background-repeat: no-repeat;
}
#textcontainer{
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: auto;

    .title{
        width: 75%;
        text-align: center;
        font-family: formula;
        font-size: 30pt;
        color: $darkbg;
    }

    .subtitle{
        font-family: interRegular;
        text-align: center;
        font-weight: 200;
        font-size: 16pt;
        color: $darkbg;
    }
}