<h1 class="title">GAME FEATURES</h1>
<div class="cardscontainer">

    <div data-aos="fade-right" data-aos-anchor-placement="center-bottom" class="easy card">
        <div class="card1 img"></div>
        <div class="cardtextwrapper">
            <h2>EASY TO <b>PLAY</b></h2>
            <h3>Whether you're a racing legend or newcomer, anyone can compete and win!</h3>
        </div>
    </div>

    <div data-aos="fade-up" data-aos-anchor-placement="center-bottom" class="copy card">
        <div class="card2 img"></div>
        <div class="cardtextwrapper">
            <h2>1 COPY, 20 <b>PLAYERS</b></h2>
            <h3>Get all of your friends and viewers involved in your race</h3>
        </div>
    </div>

    <div data-aos="fade-left" data-aos-anchor-placement="center-bottom" class="champion card">
        <div class="card3 img"></div>
        <div class="cardtextwrapper">
            <h2>BECOME A <b>CHAMPION</b></h2>
            <h3>The career mode is waiting for a new constructor, do you have what it takes?</h3>
        </div>
    </div>
    
</div>